@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to tormenta20 sheets */
.tormenta20 .item-form {
  font-family: "Roboto", sans-serif;
}

.tormenta20 .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.tormenta20 .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.tormenta20 .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tormenta20 .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.tormenta20 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.tormenta20 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.tormenta20 .sheet-body,
.tormenta20 .sheet-body .tab,
.tormenta20 .sheet-body .tab .editor {
  height: 100%;
}

.tormenta20 .tox .tox-editor-container {
  background: #fff;
}

.tormenta20 .tox .tox-edit-area {
  padding: 0 8px;
}

.tormenta20 .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.tormenta20 .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.tormenta20 .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.tormenta20 .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.tormenta20 .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.tormenta20 .items-list .item-header {
  font-weight: bold;
}

.tormenta20 .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.tormenta20 .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.tormenta20 .items-list .item img {
  display: block;
}

.tormenta20 .items-list .item-name {
  margin: 0;
}

.tormenta20 .ataques .items-list .item-name {
  margin: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
}

.tormenta20 .atributos .items-list {
  min-height: 80px;
  text-transform: uppercase;
}
.tormenta20 .atributos .items-list .item {
  display: inline-block;
  width: 15%;
}
.tormenta20 .atributos .items-list .item label {
  width: 100%;
}

.tormenta20 .items-list .item-prep {
  margin: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}

.tormenta20 .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  text-align: right;
}

.tormenta20 .ataques,
.tormenta20 .poderes {
  min-height: 60px;
}
.tormenta20 h1, .tormenta20 h2, {
  border: 0!important;
  border-bottom:0!important;
}
.text-center {
  text-align: center;
}


.tormenta20 input {
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0;
  margin-bottom: 5px;
}

.tormenta20 .container {
  display: inline-block;
}

.tormenta20 textarea {
/*  height: -webkit-fill-available;
  max-height: 180px;
  max-width: 175px;
  overflow: auto;*/
}

.tormenta20 .full textarea {
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-width: 100%!important;
  max-height: unset!important;
}

.tormenta20 .infos label {
  display: inline-block;
  width: calc(30% - 2px);
}

.tormenta20 .bottom label > input {
  width: 50%;
}


.tormenta20 .infos label.nivel {
  width: calc(9% - 4px);
}

.tormenta20 .sheet-body .dados {
  width: 55%;
  position: relative;
  float: left;
}

.tormenta20 .sheet-body .skills {
  width: 44%;
  position: relative;
  float: right;
}

.tormenta20 .pericias table th {
  font-size: 12px;
  line-height: 14px;
}

.col-5 {
  width: 5%;
}
.col-10 {
  width: 10%;
}

.col-15 {
  width: 15%;
}
.col-20 {
  width: 20%;
}
.col-24 {
  width: 24%;
  max-width: 24%
}
.col-25 {
  width: 25%;
}
.col-75 {
  width: 75% !important;
  max-width: 75%!important;
}

.full {
  width: 100%;
}


.flex {
  display: flex;
  width: 100%;
}

.field {
  display: inline-block;
  max-width: 33%;
  margin-bottom: 10px;
}

.tormenta20 table.skl-tbl td {
  padding: 0;
  margin: 2px;
}


.tormenta20 div.border {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 100px;
  padding: 5px;
}

.tormenta20 input.border {
  border: 2px solid black;
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

.tormenta20 .dados .recursos,
.tormenta20 .dados .atributos {
  font-size: 10px;
  text-align: center;
}

.tormenta20 .dados .recursos {
  min-height: 90px;
}

.tormenta20 .rollable:hover {
  cursor: pointer;
  color: red;
}

.tormenta20 .dados .atributos h1 {
  margin: auto;
}

.tormenta20 .dados .atributos label {
  width: auto;
  /*max-width: 16%;*/
  display: inline-block;
}

.tormenta20 .dados .recursos label {
  display: inline-block;
  width: 30%;
  max-width: 30%;
}

.tormenta20 .resource {
  width: 50%;
  height: unset!important;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.tormenta20 .dados .recursos .vl {
  border-left: 1px solid black;
  height: 40px;
  display: inline-block;
  vertical-align: super;
}
.tormenta20 .dados .recursos input {
  width: 50px;
  height: 30px;
  border: 0;
  font-size: 2em;
}

.tormenta20  .outros {
  /*float: right;
  position: relative;*/
  width: 100%;
}

.tormenta20 .defesa,
.tormenta20 .armadura {
  /*float: left;*/
  width: 100%;
}

.tormenta20 .sel-center {
  width: 100%;
  text-align: center;
}

.t20-chat-card span.custo {
  color: red;
}