<form class="tormenta20" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <label>
      <h3 class="charname"><input name="name" type="text" value="{{actor.name}}" data-dtype="String"/></h3>
      Nome</label>
      <div class="infos">
      <label>
      <input type="text" name="data.attributes.raca" value="{{data.attributes.raca}}" data-dtype="String"/>
      Raça</label>
        
      <label>
      <input type="text" name="data.attributes.origem" value="{{data.attributes.origem}}" data-dtype="String"/>
      Origem</label>
      <label>
      <input type="text" name="data.attributes.classe" value="{{data.attributes.classe}}" data-dtype="String"/>
      Classe</label>

      <label class="nivel">
      <input type="text" name="data.attributes.nivel.value" value="{{data.attributes.nivel.value}}" data-dtype="Number"/>
      Nível</label>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="dados" >
      <div class="atributos">
        <ol class="items-list">
        {{#each data.atributos as |atr key|}}
          <li class="item flexrow" data-item-id="{{key}}">
            <span class="rollable atributo-rollable" data-roll="d20+{{atr.mod}}" data-label="{{key}}"><label>
              {{key}}
              <h1 style="border: 0!important">{{atr.mod}}</h1>
              <input type="hidden" name="data.atributos.{{key}}.mod" value="{{atr.mod}}" data-dtype="Number"/>
            </label></span>
            <input type="text" name="data.atributos.{{key}}.value" value="{{atr.value}}" data-dtype="Number"/>
          </li>
        {{/each}}
        </ol>
      </div>

      <div class="recursos">
        <div class="resource">
          <h4>PONTOS DE VIDA</h4>
          <label>
            <input type="text" name="data.attributes.pv.value" value="{{data.attributes.pv.value}}" data-dtype="Number"/>
            <br>Atuais
          </label>
          <div class="vl"></div>
          <label>
            <input type="text" name="data.attributes.pv.max" value="{{data.attributes.pv.max}}" data-dtype="Number"/>
            <br>Máximos
          </label>
          <div class="vl"></div>
          <label>
            <input type="text" name="data.attributes.pv.temp" value="{{data.attributes.pv.temp}}" data-dtype="Number"/>
            <br>Temporários
          </label>
        </div>
        <div class="resource">
          <h4>PONTOS DE MANA</h4>
          <label>
            <input type="text" name="data.attributes.pm.value" value="{{data.attributes.pm.value}}" data-dtype="Number"/>
            <br>Atuais
          </label>
          <div class="vl"></div>
          <label>
            <input type="text" name="data.attributes.pm.max" value="{{data.attributes.pm.max}}" data-dtype="Number"/>
            <br>Máximos
          </label>
          <div class="vl"></div>
          <label>
            <input type="text" name="data.attributes.pm.temp" value="{{data.attributes.pm.temp}}" data-dtype="Number"/>
            <br>Temporários
          </label>
        </div>
      </div>

      <div class="ataques">
        <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-name">ATAQUES</div>
          <div class="item-atq  text-center">ATQ</div>
          <div class="item-dano  text-center">Dano</div>
          <div class="item-critico  text-center">Crítico</div>
          <div class="item-tipo  text-center">Tipo</div>
          <div class="item-alcance  text-center">Alcance</div>
          <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="ataque"><i class="fas fa-plus"></i> Novo</a>
          </div>
        </li>
        {{#each actor.ataques as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name"><span class="rollable ataque-rollable" data-roll="d20+{{item.data.bonusAtq}}+@data.pericias.{{item.data.pericia}}.value" data-label="{{item.name}}"><h4 class="item-name">{{item.name}}</h4></span></div>
          <div class="item-bonusAtq text-center"><small>{{item.data.atq}}</small></div>
          <div class="item-dano text-center"><small>{{item.data.dmg}}</small></div>
          <div class="item-critico text-center"><small>{{item.data.criticoM}}/x{{item.data.criticoX}}</small></div>
          <div class="item-tipo text-center"><small>{{item.data.tipo}}</small></div>
          <div class="item-alcance text-center"><small>{{item.data.alcance}}</small></div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          </li>
        {{/each}}
        </ol>
      </div>


      <div class="defesa">
        <table>
          <tr>
            <th>DEFESA</th>
            <th></th>
            <th>Mod. Destreza</th>
            <th></th>
            <th>Bônus de Armadura</th>
            <th></th>
            <th>Bônus de Escudo</th>
            <th></th>
            <th>Outros</th>
          </tr>
          <tr class="text-center">
            <td>{{data.defesa.value}}</td>
            <td style="white-space: nowrap;">= 10 +</td>
            <td>
              {{#if data.defesa.des }}
                 <input type="checkbox" name="data.defesa.des" value="{{data.defesa.des}}" checked data-dtype="Boolean" />
              {{else}}
                <input type="checkbox" name="data.defesa.des" value="{{data.defesa.des}}" data-dtype="Boolean" />
              {{/if}}
            </td>
            <td>+</td>
            <td>{{data.armadura.defesa}}</td>
            <td>+</td>
            <td>{{data.escudo.defesa}}</td>
            <td>+</td>
            <td><input type="text" name="data.defesa.outro" value="{{data.defesa.outro}}" data-dtype="Number"  /></td>
          </tr>
        </table>
      </div>
      <div class="armadura">
        <table>
          <tr>
            <th>Armadura & Escudo</th>
            <th>Defesa</th>
            <th>Penalidade</th>
          </tr>
          <tr>
            <td><input type="text" name="data.armadura.nome" value="{{data.armadura.nome}}" data-dtype="String"  /></td>
            <td><input type="text" name="data.armadura.defesa" value="{{data.armadura.defesa}}" data-dtype="Number"  /></td>
            <td><input type="text" name="data.armadura.penalidade" value="{{data.armadura.penalidade}}" data-dtype="Number"  /></td>
          </tr>
          <tr>
            <td><input type="text" name="data.escudo.nome" value="{{data.escudo.nome}}" data-dtype="String"  /></td>
            <td><input type="text" name="data.escudo.defesa" value="{{data.escudo.defesa}}" data-dtype="Number"  /></td>
            <td><input type="text" name="data.escudo.penalidade" value="{{data.escudo.penalidade}}" data-dtype="Number"  /></td>
          </tr>
        </table>
      </div>

      <div class="poderes">
        <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-name">Nome</div>
          <div class="item-tipo">Tipo</div>
          <div class="item-custo">PM</div>
          <div class="item-controls">

          <a class="item-control item-create" title="Novo Poder" data-type="poder"><i class="fas fa-plus"></i> Novo</a>
          </div>
        </li>
        {{#each actor.poderes as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <span class="rollable poder-rollable" data-label="{{item.name}}"><h4 class="item-name">{{item.name}}</h4></span>
            <div class="item-tipo">{{item.data.tipo}}</div>
            <div class="item-custo">{{item.data.custo}}</div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          </li>
        {{/each}}
        </ol>
      </div>
      <div class="magias">
        <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-prep">Prep</div>
          <div class="item-name">1º Círculo (1 PM)</div>
          <div class="item-controls">

          <a class="item-control item-create" title="Create item" data-type="magia" data-circulo="1"><i class="fas fa-plus"></i> Novo</a>
          </div>
        </li>
        {{#each actor.magias.[1] as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-prep">
            {{#if flags.[item._id].preparada}}
              <input type="checkbox" name="flags.[item._id].preparada" value="{{flags.[item._id].preparada}}" checked data-dtype="Boolean"  />
            {{else}}
              <input type="checkbox" name="flags.[item._id].preparada" value="{{flags.[item._id].preparada}}" data-dtype="Boolean"  />
            {{/if}}
          </div>
          <h4 class="item-name"><span class="rollable magia-rollable" data-label="{{item.name}}">{{item.name}}</span></h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
          </div>
          </li>
        {{/each}}
        </ol>

        <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-prep">Prep</div>
          <div class="item-name">2º Círculo (3 PM)</div>
          <div class="item-controls">

          <a class="item-control item-create" title="Create item" data-type="magia" data-circulo="2"><i class="fas fa-plus"></i> Novo</a>
          </div>
        </li>
        {{#each actor.magias.[2] as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-prep"> 
            {{#if flags.[item._id].preparada}}
              <input type="checkbox" name="flags.[item._id].preparada" checked data-dtype="Number"  />
            {{else }}
              <input type="checkbox" name="flags.[item._id].preparada" data-dtype="Number"  />
            {{/if}}
          </div>
          <h4 class="item-name"><span class="rollable magia-rollable" data-label="{{item.name}}">{{item.name}}</span></h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          </li>
        {{/each}}
        </ol>

        <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-prep">Prep</div>
          <div class="item-name">3º Círculo (6 PM)</div>
          <div class="item-controls">

          <a class="item-control item-create" title="Create item" data-type="magia" data-circulo="3"><i class="fas fa-plus"></i> Novo</a>
          </div>
        </li>
        {{#each actor.magias.[3] as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-prep">
            {{#if flags.[item._id].preparada}}
              <input type="checkbox" name="flags.[item._id].preparada" checked data-dtype="Number"  />
            {{else }}
              <input type="checkbox" name="flags.[item._id].preparada" data-dtype="Number"  />
            {{/if}}
          </div>
          <h4 class="item-name"><span class="rollable magia-rollable" data-label="{{item.name}}">{{item.name}}</span></h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          </li>
        {{/each}}
        </ol>

        <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-prep">Prep</div>
          <div class="item-name">4º Círculo (10 PM)</div>
          <div class="item-controls">

          <a class="item-control item-create" title="Create item" data-type="magia" data-circulo="4"><i class="fas fa-plus"></i> Novo</a>
          </div>
        </li>
        {{#each actor.magias.[4] as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-prep">
            {{#if flags.[item._id].preparada}}
              <input type="checkbox" name="flags.[item._id].preparada" checked data-dtype="Number"  />
            {{else }}
              <input type="checkbox" name="flags.[item._id].preparada" data-dtype="Number"  />
            {{/if}}
          </div>
          <h4 class="item-name"><span class="rollable magia-rollable" data-label="{{item.name}}">{{item.name}}</span></h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          </li>
        {{/each}}
        </ol>

        <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-prep">Prep</div>
          <div class="item-name">5º Círculo (15 PM)</div>
          <div class="item-controls">

          <a class="item-control item-create" title="Create item" data-type="magia" data-circulo="5"><i class="fas fa-plus"></i> Novo</a>
          </div>
        </li>
        {{#each actor.magias.[5] as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-prep">
            {{#if flags.[item._id].preparada}}
              <input type="checkbox" name="flags.[item._id].preparada" data-dtype="Number"  />
            {{else}}
              <input type="checkbox" name="flags.[item._id].preparada" data-dtype="Number"  />
            {{/if}}
          </div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          </li>
        {{/each}}
        </ol>
      </div>

      <div class="outros">
          <h4>PROFICIÊNCIAS E OUTRAS CARACTERÍSTICAS</h4>
          <textarea name="data.attributes.info" rows="10" data-dtype="String">{{#if data.attributes.info}}{{data.attributes.info}}{{/if}}</textarea>
      </div>
    </div>

    <div class="skills">
      <div class="pericias" >
        <table class="skl-tbl">
          <tr>
            <th class="col-5"></th>
            <th class="col-15">Perícias</th>
            <th class="col-10">TOTAL</th>
            <th class="col-5">Mod. Atributo</th>
            <th class="col-5">Treino</th>
            <th class="col-5">Outros</th>
          </tr>
        {{#each actor.data.pericias as |skill key|}}
        <tr>

          <td class="col-5">
            {{#if skill.treinado }}
               <input type="checkbox" name="data.pericias.{{key}}.treinado" value="{{skill.treinado}}" checked data-dtype="Boolean" /></td>
            {{else}}
              <input type="checkbox" name="data.pericias.{{key}}.treinado" value="{{skill.treinado}}" data-dtype="Boolean" /></td>
            {{/if}}
          <td class="col-15"><span class="rollable pericia-rollable" data-roll="d20+{{skill.value}}" data-label="{{skill.label}}">{{skill.label}} {{#if skill.st}}+{{/if}} {{#if skill.pda}}*{{/if}}</span></td>
          <td class='col-10'><input type="text" class="border" value="{{skill.value}}"  data-dtype="Number" disabled /></td>
          <td class="col-10 text-center">
            <select  class="selectatr"  name="data.pericias.{{key}}.atributo" value={{skill.atributo}} data-dtype="String">
              {{#select skill.atributo}}
            <option  value="for">For</option>
            <option  value="des">Des</option>
            <option  value="con">Con</option>
            <option  value="int">Int</option>
            <option  value="sab">Sab</option>
            <option  value="car">Car</option>
              {{/select}}
            </select>
          </td>
            <input type="hidden" name="data.pericias.{{key}}.treino"  value="{{skill.treino}}"  data-dtype="Number"/>

          <td class="col-5 text-center">{{skill.treino}} </td>
          <td class="col-5 text-center"><input type="text" name="data.pericias.{{key}}.outros"  value="{{skill.outros}}"  data-dtype="Number"/></td>
        </tr>
        
        {{/each}}

        </table>
      </div>
      
      <div class="equips" >


        <div class="cell cell--equips">
          <h2 class="cell__title">
          <label>Equipamentos</label>
          </h2>
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">Nome</div>
            <div class="item-qtd">Qtd</div>
            <div class="item-peso">Peso</div>
            <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="equip"><i class="fas fa-plus"></i> Novo</a>
            </div>
          </li>
          {{#each actor.equipamentos as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <h4 class="item-name">{{item.name}}</h4>
              <div class="item-qtd">{{item.data.qtd}}</div>
              <div class="item-peso">{{item.data.peso}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            </li>
          {{/each}}


          </ol>
        </div>
        <div class="infos bottom">
          <label>T$: <input type="text" name="data.detalhes.dinheiro.tp" value="{{data.detalhes.dinheiro.tp}}" data-dtype="Number"  /></label>
          <label>TO: <input type="text" name="data.detalhes.dinheiro.to" value="{{data.detalhes.dinheiro.to}}" data-dtype="Number" /></label>
          <label>CARGA: <input type="text" name="data.detalhes.carga" value="{{data.detalhes.carga}}" data-dtype="Number" /></label>
        </div>
      </div>
    </div>

  </section>
</form>